.settings {
  color: white;
  position: absolute;
  top:2.5rem;
  right:1rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
.wave {
  width: 100%;
  height: 40vh;
  background-color:#F2555A;
  overflow:hidden;
  color: white;
}

.icon-links {
  display: flex;
  justify-content:center;
  margin-top: 2rem;

}
.icon {
  color: #F2555A;
  padding: 0.5rem;
  margin: 2rem;
  border: 2px solid #F2555A;
  border-radius: 50%;
}

